body{
    display:flex;
    flex-flow: column;
    align-items: center;
    background-color:#FF0000;
    color:#FFE8C5;
    width:100%;
}

#pokedex-header{
    text-align: center;
    background-color:#97BE5A ;
    max-width:100%;
    border-radius: 20px;
    border-bottom: 20px solid #FFA27F;
    padding: 30px;
}

#pokedex-shape{
    display:flex;
    flex-flow: row;
    align-items: flex-start;
    max-width: 50%;
    background-color: #97BE5A;
    margin-top: 1em;
    border-radius: 20px;
    border-bottom: 20px solid #FFA27F;
}

#pokedex-info, #pokedex-moves,#pokedex-evo, #pokedex-assets{
    flex:1;
    padding:20px;
    flex-flow: row;
    text-align: center;
}

.border-bottom{
    border-bottom: 1px solid #FFA27F;
    
}

#pokedex-search{
    margin-top: 1em;
    max-width: 30%;
    background-color:#97BE5A ;
    display:flex;
    flex-flow: column;
    align-items: center;
    padding: 10px;
    border-radius:5px;
    border-bottom: 20px solid #FFA27F;
}

#search{
    border-radius: 5px;
    background-color: rgba(255, 232, 197, 0.7);;
    color:black;
    margin-bottom: 5px;
    max-width: 100%;
}

#search-button{
    border-radius: 5px;
    background-color:rgba(255, 232, 197, 0.7);
    
}
#search-button:active{
    transform: scale(0.95);
}

#pokedex-assets{
    display:flex;
    max-width: 100%;
    justify-content: space-between;
    background-color: #97BE5A;
    margin-top: 1em;
    border-radius: 20px;
    border-bottom: 20px solid #FFA27F;
}
@media screen and (max-width: 768px) {
    #pokedex-assets {
        width: 90%; /* Adjust the width for smaller screens */
        padding: 10px;
    }
}

#pokedex-image{
    flex:1;
    padding:10px;
    text-align: center; 

}
#pokedex-evo{
    width:200px;
    height:200px;
    overflow: auto;
}

.pokemon-moves-list{
    /*list-style-position: inside;*/
    text-align: center;
}

#pokemon-image{
    max-width: 75%;
    max-height: 75%;
    background-color: rgba(255, 232, 197, 0.7);
    border-radius: 10px;
    padding: 10px;
    opacity: 0.8;
}

.evo-image-2, .evo-image-3{
    display:none;
}
