body{
    font-family: Atma;
    margin-top: 5px;
    padding: 0;
    margin: auto;
    background-color: lightcoral;
    max-width: 600px;
    display:flex;
    flex-direction: column;
    align-content: center;

}

.pokedex-info-header{
    display:flex;
    flex-flow: column;
    align-items: center;
    width:100%;
    height:140px;
    position: relative;
    margin-top: 0.5em;
}

.pokedex-info-header h1{
    margin: 0;
}

.search-field{
    border-radius: 10px;
    border: 0;
    text-align: center;
    padding: 0.5em;
    margin-bottom: 0.2rem;
    width: 150px;
    font-family: Atma;
    font-weight: 400;
    background-color: rgb(255, 246, 233)
}

.pokedex-shape{
    display: flex;
    height:128vh;
    flex-flow: column;
    align-items: center;
    background-color: rgb(255, 246, 233);
    border-radius: 80px;
    margin-top:1.2em;
    color: grey;
}

.pokemon-images {
    display: flex; /* Zorgt ervoor dat de inhoud binnen de div wordt gepositioneerd met Flexbox */
    justify-content: center; /* Zorgt ervoor dat de afbeelding horizontaal wordt gecentreerd */
    align-items: center; /* Zorgt ervoor dat de afbeelding verticaal wordt gecentreerd */
    height: 150px; /* Zorg ervoor dat de container een hoogte heeft die overeenkomt met de afbeelding */
    width: 100%; /* Zorgt ervoor dat de container de volledige breedte van zijn oudercontainer gebruikt */
    margin-top:-100px;
}

.pokemon-image-top {
    height: 150px;
    width: auto;
}

.pokemon-name{
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    height:auto;
}

.name-tag{
    margin:0;
}

.pokedex-type-button{
    display:flex;
    justify-content: center;
    width:100%;
    margin-bottom: 4px;
}

.button-style{
    border: 1px solid black;
    padding: 3px;
    width: 64px;
    border-radius: 20px;
    text-align: center;
    margin:4px;
    background-color: lightblue;
    color: black;
}

.flavor-container{
    display:flex;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 24px;
}

.flavor-text{
    margin-top:48px;
}

.pokedex-button-container{
    width:100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
}


.button{
    margin: 8px;
    width: 96px;
    border-radius: 24px;
    border:0;
    padding:4px;
    background-color: lightblue;
    color:grey;
    box-shadow: 4px 4px 4px lightblue;
}

.button:hover{
    background-color: rgb(143, 206, 227);
}
.button:active{
    transform: scale(0.95);
}

.pokedex-stats-container{
    /*border: 1px solid black;*/
    width:100%;
    height:500px;
    margin-top:8px;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
}

.pokedex-info-container{
    display:flex;
    flex-flow: column;
    align-items: center;
    width:100%;
    height:100%;
    border-bottom-left-radius: auto;
    border-bottom-right-radius: auto;
}

.moves-container{
    display:none;
}

.abilities-container{
    display:none;
}

.evolutions-container{
    display: none;
    flex-flow: column;
}

.prev-evo-container{
    display:flex;
    flex-flow: column;
    align-items: center;
    width:90%;
    margin-bottom: 48px;
    height:auto;

}

.evolution-chain-container{
    width:100%;
    display:flex;
    flex-flow: column;
    align-items: center;
    overflow:auto;
}

.chain-evo-images-container{
    display:flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    overflow:auto;
    width:100%;
}

.evo-image{
    margin: 0 48px 0 48px;
}
.prev-evo-image{
    height:96px;
    width:96px;
    margin-top: px;
}


.title{
    font-weight:500;
    font-size: 24px;
    width:100%;
    text-align: center;
    border-bottom: 1px solid grey;
    margin:0;
}

.title-small{
    font-weight: 300;
}

