body{
    display: flex;
    flex-flow: column;
    font-family: Verdana, Tahoma, sans-serif;
    max-width: 1200px;
    margin: 4px auto;
}
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%; /* Midden van de pagina */
    height: 100%;
    width: 1px; /* Dunne lijn */
    background-color: red; /* Kleur van de lijn */
    z-index: 1000; /* Zorg dat het boven andere content ligt */
    pointer-events: none; /* Lijn niet klikbaar maken */
}

h2{
    display: inline-flex;
}

#pokedex-header{
    display:flex;
    flex-flow: column;
    align-items: center;
    border: 1px solid black;
}

#pokedex-header h1{
    font-size: 32px;
    margin-bottom: 0.3em;
}

#pokedex-header input{
    margin-bottom: 0.5em;
}

#pokedex-info{
    width:100%;
}

#pokedex-shape{
    display: flex;
    flex-flow: column;
    border: 1px solid black;
    margin-top: 1em;
}

.pokemon-name{
    text-align: center;
    width:100%;
}

#pokedex-types-moves-abilities{
    display:flex;
    justify-content: space-around;
    text-align: center;
}

.pokedex-info-headers {
    display: flex;
    width: 100%;
    justify-content: center;
}

#pokedex-image{
    display:flex;
    width:100%;
    max-height: 250px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid black;
}

.pokedex-images{
    width:100%;
}

#chain-evo{
    height:200px;
    overflow: auto;
}

/*#pokedex-evo{
    overflow: hidden;
    width: 150px; 
    height: 150px;
    border-radius: 60%;
    display:flex;
    justify-content: center;
    border: 2px solid black;
}*/

#pokedex-evo img{
    width: 80%;
    height:auto;
}

.pokeball-base{
    height: 150px;

}


