body{
    font-family: Verdana, Tahoma, sans-serif;
    margin-top: 5px;
    padding: 0;
    margin: 0;
    background-color: lightblue;
}

.pokedex-info-header{
    display:flex;
    flex-flow: column;
    align-items: center;
    width:100%;
    height:140px;
    position: relative;
    margin-top: 0.5em;
}

.pokedex-info-header h1{
    margin: 0;
}

.search-field{
    border-radius: 10px;
    border: 0;
    text-align: center;
    padding: 0.5em;
    margin-bottom: 0.2rem;
}

.pokemon-image-top {
    height: 150px;
    width: auto;
    align-items: baseline;
}

.pokedex-shape{
    display: flex;
    height:100vh;
    flex-flow: column;
    background-color: lightcoral;
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
    margin-top:1.2em;
}